.container-slider {
    width: auto;
    height: auto;
    
}
.overlay_quote {
    width: 60vh;
    position: absolute;
    transform: translateY(-50);
    padding: 1rem 3rem;
    text-align: left;
    background: rgba(0, 0, 0.6);
    color: #FFFF;
    font-size:80%;
}

.overlay {
    display: flex;
    width: 60vh;
    justify-content: center;
    margin: 0.5%;
}

.carousel .thumb {
    cursor: pointer;
}

.carousel .overlay_name {
  margin: 0.8em 0 5rem ;
  font-size: larger;
  text-align: center;
}

.picture {
    height: 78vh;
}

.photo {
    width: 60vh;
    height: 78vh;
    display: flex;
    align-items: flex-end;
}

.Title {
    margin-top: 1%;
    font-size: 200%;
}

@media screen and (max-width:600px) {
 .carousel .slide img {
     width : 100vw !important;
     height : 40vh;
     object-fit: cover;
 }
}