  /* .container-slider{
    width: 58vh;
    height: 80vh
  } */

  .overlay_quote {
    /* display: flex; */
    /* justify-content: flex-end; */
    width: 42vh;
    position: absolute;
    /* top:61%; */
    transform: translateY(-50);
    padding: 1rem 3rem;
    text-align: left;
    background: rgba(0, 0, 0.6);
    color: #FFFF;
    font-size:80%;
    /* align-items: flex-end; */
}

.overlay {
    display: flex;
    justify-content: center;
    margin: 0.5%;
}

.carousel .thumb {
    cursor: pointer;
}

.carousel .overlay_name {
  margin: 0.8em 0 5rem ;
}

.picture {
    /* width: 55vh; */
    height: 58vh;
}

.photo {
    width: 42vh;
    height: 58vh;
    display: flex;
    align-items: flex-end;
}

.Title {
    margin-top: 1%;
    font-size: 200%;
}

@media screen and (max-width:600px) {
 .carousel .slide img {
     width : 100vw !important;
     height : 40vh;
     object-fit: cover;
 }
}